
*{
padding:0;
margin:0;
}

body
{
	background-color: white;
	font-family: arial;
	font-size: 20px;
}

#Inner
{
	margin-top: 2px;
}

#Container
{
	width: 1500px;
	margin: 0px auto;
}

.cleaner
{
    clear: both;
}

#Head
{
	height: 212px;
	width: 1500px;

}

#Head_left
{
	height: 212px;
	width: 200px;
	float: left;
}

#Leaf_top
{
    background: url("img/leaf.gif") top left no-repeat;
    height: 161px;
    width: 324px;
	float: left;
}







#Head_right
{
	height: 212px;
	width: 576px;
	float: right;
	clear: right;
}

#Logo
{
	height: 150px;
	width: 576px;
}

#Name
{
 
    background-position: 54px 50px;
    font-size: 60px;
  	padding-top: 48px;
    margin-left: -400px;

    color: #989d9e;
}

.blue
{
	color: #0e88af;
}

#Informations
{
    font-size: 15px;
    margin-left: -225px;
    margin-top: 0px;
    color: #989d9e;
}

#a{
	  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-left: -925px;
}
#b{
	  float: left;
  border-right:1px solid #bbb;
}

#b a{
	 display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
.active {
  background-color: #55AAFF;
}
#b a:hover:not(.active) {
  background-color:gray;
  color:black;
}

#c{
	width:100%;
	} 
#d{
	  width: 90%;
	  float:left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 22px 12px 40px;
}
.button1 {
  background-color:#55AAFF; 
  border: none;
  color: white;
  padding: 11px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22.75px;
  
  cursor: pointer;
  border-radius: 2px;
}











#RightPart
{
	width: 100%;
	
	clear: left;
	background-color: #f5fdfd;
	margin-top: -12px;
}

*>#RightPart
{
    margin-top: 8px;
    clear: right;
    margin-left: 5px;
}

#Page
{
	width: 1500px;
	padding: 5px;
	padding-right: 0px;
}

*>#Page
{
	padding: 5px;
}

h1
{
	color: #979a9b;
	font-size: 20px;
	font-weight: normal;
	padding-left: 20px;
	line-height: 35px;
}

#Page_header
{
	background-color: white;
	padding: 8px;
	padding-right: 0px;
	padding-left: 0px;
	width: 669px;
}

.page_header_img
{
	width: 68px;
	padding-left: 8px;
}

.page_header_text
{
    width: 250px;
    text-align: justify;
    font-size: 11px;
    color: #0e88af;
}

#Page_header tr
{
	width: 670px;
}

#Page_top
{
	background-color: #a5d7e9;
	margin-top: 8px;
	margin-bottom: 8px;
	color: #074d64;
	width: 1500px;
}

#Page_top p
{
    padding: 5px;
}

#Page_top a
{
    color: #074d64;
}









footer{
	position: relative;
	bottom: 0;
	margin-top: -50px;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}